In [5]:
import featuretools as ft
import pandas as pd

In [5]:
# Read datasets 
df_cards = pd.read_parquet("./../data/processed/data_cards.parquet", engine="fastparquet")
df_users = pd.read_parquet("./../data/processed/data_users.parquet", engine="fastparquet")
df_transactions = pd.read_parquet("./../data/processed/data_transactions.parquet", engine="fastparquet")

In [16]:
dataframes = {
    "cards": (df_cards, "ID_CARDS_USER"),
    "users": (df_users, "ID_USER"),
    "transactions": (df_transactions, "ID_TRANSACTION", "TRANSACTION_DATE"),
    }  
relationships = [
    ("users", "ID_USER", "transactions", "ID_USER"),
    ("cards", "ID_CARDS_USER", "transactions", "ID_CARDS_USER"),
    ]

feature_matrix_customers, features_defs = ft.dfs(
    dataframes=dataframes,
    relationships=relationships,
    target_dataframe_name="transactions",
    )
feature_matrix_customers

/Users/diegogr/Desktop/Nequi/.venv/lib/python3.10/site-packages/featuretools/entityset/entityset.py:754: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index
  warnings.warn(
/Users/diegogr/Desktop/Nequi/.venv/lib/python3.10/site-packages/featuretools/entityset/entityset.py:754: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index, time_index
  warnings.warn(
/Users/diegogr/Desktop/Nequi/.venv/lib/python3.10/site-packages/featuretools/entityset/entityset.py:414: UserWarning: Logical type Categorical for child column ID_CARDS_USER does not match parent column ID_CARDS_USER logical type Unknown. Changing child logical type to match parent.
  warnings.warn(

,ID_USER,ID_CARD,YEAR,MONTH,DAY,AMOUNT,USE_CHIP,MERCHANT_NAME,MERCHANT_CITY,MERCHANT_STATE,...,cards.SUM(transactions.YEAR),cards.SUM(transactions.ZIP),cards.DAY(ACCT_OPEN_DATE),cards.DAY(EXPIRES),cards.MONTH(ACCT_OPEN_DATE),cards.MONTH(EXPIRES),cards.WEEKDAY(ACCT_OPEN_DATE),cards.WEEKDAY(EXPIRES),cards.YEAR(ACCT_OPEN_DATE),cards.YEAR(EXPIRES)
ID_TRANSACTION,,,,,,,,,,,,,,,,,,,,,
23377594,1911,1,1996,3,22,770.44,Swipe Transaction,1839636615252322303,Huntsville,AL,...,21110625.0,3.745174e+08,1,1,5,8,3,0,1997,2022
23679480,1933,2,1996,5,1,52.29,Swipe Transaction,8516963843108722948,Miltona,MN,...,46144941.0,1.249362e+09,1,1,5,6,2,0,1996,2020
23679481,1933,2,1996,5,1,10.67,Swipe Transaction,-2265233882414185981,Miltona,MN,...,46144941.0,1.249362e+09,1,1,5,6,2,0,1996,2020
23679482,1933,2,1996,5,1,14.09,Swipe Transaction,1917517617315869134,Ogilvie,MN,...,46144941.0,1.249362e+09,1,1,5,6,2,0,1996,2020
23679483,1933,2,1996,5,1,108.30,Swipe Transaction,1913477460590765860,Parkers Prairie,MN,...,46144941.0,1.249362e+09,1,1,5,6,2,0,1996,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24357916,1997,0,2020,2,28,16.94,Online Transaction,7035602569409149834,ONLINE,N/A,...,6390431.0,3.174273e+07,1,1,7,7,4,0,2016,2024
24376356,1997,2,2020,2,28,42.45,Online Transaction,-7421093378627544099,ONLINE,N/A,...,6511640.0,3.492302e+07,1,1,4,1,6,4,2012,2021
24386897,1999,1,2020,2,28,59.15,Chip Transaction,2500998799892805156,Merrimack,NH,...,9432946.0,3.400782e+07,1,1,5,12,0,1,2017,2020
24386898,1999,1,2020,2,28,43.12,Chip Transaction,2500998799892805156,Merrimack,NH,...,9432946.0,3.400782e+07,1,1,5,12,0,1,2017,2020
24386899,1999,1,2020,2,28,45.13,Chip Transaction,4751695835751691036,Merrimack,NH,...,9432946.0,3.400782e+07,1,1,5,12,0,1,2017,2020

In [17]:
feature_matrix_customers.to_parquet("./../data/processed/data_feature_engineering.parquet", engine="fastparquet")